.sign-up-form {
  padding-top: 59px;
  align-items: center;

  .sign-up-form__container {
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    width: 384px;
    padding: 48px 32px;
    box-sizing: border-box;

    form {
      display: flex;
      flex-direction: column;

      .sign-up-form__field {
        margin-bottom: 12px;

        .input-error {
          border: 1px solid rgba(245, 34, 45, 1);
        }
      }

      .sign-up-form__checkbox {
        display: inline-flex;
        align-items: start;

        input {
          margin: 0;
          margin-right: 10px;
          width: 0;
          height: 0;
          opacity: 0.5;
          position: absolute;
          z-index: -1;

          &:checked + span {
            &::before {
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }

        input + span {
          display: inline-block;
          position: relative;
          width: 16px;
          height: 16px;
          border-radius: 2px;
          border: 1px solid #9abbce;
          margin-right: 10px;
          vertical-align: sub;
          box-sizing: border-box;
          flex-shrink: 0;

          &::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url('./checked.svg');
            background-size: contain;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
          }
        }

        span + span {
          font-size: 14px;
        }
      }

      .sign-up-form__submit {
        height: 40px;
        width: 100%;
        padding: 0;
        border: none;
        border-radius: 4px;
        background-color: rgba(24, 144, 255, 1);
        color: white;
        font-size: 16px;
        margin-bottom: 8px;
        cursor: pointer;
      }
    }

    .sign-up-form__header {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .sign-up-form__label {
      font-size: 14px;
      margin-bottom: 2px;
    }

    .sign-up-form__input {
      width: 320px;
      height: 40px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid rgba(217, 217, 217, 1);
      font-size: 16px;
      text-indent: 12px;

      &::placeholder {
        color: rgba(191, 191, 191, 1);
      }

      &:focus {
        border: 2px solid rgba(217, 217, 217, 1);
        outline: none;
      }
    }

    button {
      width: 320px;
      height: 40px;
    }

    .sign-up-form__footer {
      font-size: 12px;
      color: rgba(140, 140, 140, 1);
      text-align: center;
    }
  }

  .sign-up-form__error {
    margin: 2px 0 0 0;
    font-size: 14px;
    color: rgba(245, 34, 45, 1);

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
