.header {
  height: 80px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 18px;

  > button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .header__unlogged-buttons {
    > button {
      font-size: 18px;
      box-shadow: none;
      height: 50px;
      background-color: white;
      border-radius: 5px;
      cursor: pointer;

      &:first-child {
        border: none;
        margin-right: 2em;
      }

      &:last-child {
        color: rgba(82, 196, 26, 1);
        border: 1px solid rgba(82, 196, 26, 1);
        width: 110px;
      }
    }
  }

  .header__logged-buttons {
    display: flex;
    align-items: center;

    > button {
      box-shadow: none;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;

      &:first-child {
        color: rgba(82, 196, 26, 1);
        border: 1px solid rgba(82, 196, 26, 1);
        font-size: 14px;
        margin-right: 25px;
        height: 30px;
        width: 110px;
      }

      &:last-child {
        height: 50px;
        font-size: 18px;
        margin-left: 25px;
        width: 110px;
        border: 1px solid black;
      }
    }

    .header__username {
      font-size: 18px;
    }

    .header__avatar {
      width: 46px;
      height: 46px;
      margin-left: 12px;
      border-radius: 50%;
    }

    .header__profile-button {
      border: none;
      padding: 0;
      display: inline-flex;
      align-items: center;
    }
  }
}
